.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.obj
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch